@font-face {
	font-family: Helvetica;
	font-style: normal;
	font-weight: 900;
	src: url('/assets/fonts/Helvetica.otf');
}
@font-face {
	font-family: Helvetica;
	font-style: normal;
	font-weight: 200;
	src: url('/assets/fonts/HelveticaBQ-Light.otf');
}
@font-face {
	font-family: Helvetica;
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/HelveticaBQ-Medium.otf');
}
@font-face {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	src: url('/assets/fonts/HelveticaBold.ttf');
}
@font-face {
	font-family: Helvetica;
	font-style: normal;
	font-weight: 900;
	src: url('/assets/fonts/Helvetica-Black.otf');
}


body,
button {
  font-family: "Helvetica";
}
* {
  -webkit-user-select: none;
}

/*  PREVENT TEXT SIZE SCALLING */

/* iPhone, portrait & landscape. */
@media all and (max-device-width: 480px) {
  html,
  body,
  p {
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
}
/* iPad, portrait & landscape. */
@media all and (min-device-width: 768px) and (max-device-width: 1024px) {
  html,
  body,
  p {
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
}